.cart-container{
	width: 70%;
	margin-top: 105px;
}

table.tab-cart{
	width: 100%;
	margin: 40px auto;
	border-collapse: collapse;
	font-size: 18px;
	font-family: 'PT Sans', serif;
}

table.tab-cart tr.tab-title{
	background:#00264d;
	color:#fff;
	margin-left:5px;
}
	
table.tab-cart th, td{
	padding: 5px 20px;
  	border: 1px solid #000;
}

table.tab-cart td{
	height: 100px;
}

table.tab-cart th.content-width{
	width: 15%;
}
	
table.tab-cart tr.content:hover{
	background: #f2f2f2;
}

table.tab-cart a,
.no-item a{
	text-decoration: none;
	color: #000;
}

table.tab-cart a:visited,
no-item a:visited{
	text-decoration: none;
}

table.tab-cart td.dele{
	text-align:center;
	padding-right:0px;
}

table.tab-cart td.dele button{
	margin-top: 5px;
    width: auto;
    height: auto;
    min-width: 90px;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: 1px #000 solid;
    margin-right: 17px;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 17px;
}

table.tab-cart td.dele button i{
	margin-right: 4px;
}

table.tab-cart td.dele button:hover{
    background-color: #e6e6e6;
    border: 1px #3498db solid;
    color: #000;
}

table.tab-cart td.inc-dec input[type=button]{
	padding: 1px 10px;
	display: inline;
	cursor: pointer;
	font-family: 'PT Sans',serif;
	font-size: 17px;
}

table.tab-cart td.inc-dec{
	text-align: center;
}
	
td.inc-dec input[type=number]{
	outline: none;
	font-size: 17px;
	font-family: 'PT Sans',serif;
	text-align: center;
	min-width: 40px;
	margin: 3px auto;
}

table.tab-cart tr.content-total{
	text-align:right;
	font-weight:bold;
}

table.tab-cart td span.time-text{
	font-size: 14px;
	color: #737373;
}

.pro-img{

	max-width: 90px;
	height: auto;
	float:left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cart-func{
	width: 100%;
	height: auto;
	margin: 20px auto;
	padding-bottom: 20px;
}

.cart-func input[type=submit]{
	outline: none;
	background: transparent;
	font-size: 18px;
	font-family: 'PT Sans', serif;
	float: right;
	padding: 10px;
	color: #e60000;
	border: 1px solid #e60000;
	text-transform: uppercase;
	cursor: pointer;
}

.no-item{
	font-size: 18px;
	font-family: 'PT Sans', serif;
}

