*{
	box-sizxing: border-box;
}

.slide-content {
	display: none
}

.slideshow-container img {
	vertical-align: middle;
	max-height: 780px;
}

.slideshow-container {
	width: 100%;
	position: ;
	max-height: 780px;
	z-index: -999999;
	margin-top: 82px;
	height: auto;
}

.prev, .next {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	margin-top: -22px;
  	color: #000;
  	font-weight: bold;
  	font-size: 26px;
  	transition: 0.6s ease;
  	-webkit-transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
  	background: rgba(255, 255, 255, 0.5);
}

.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
  	color: #fff;
}

.slide-content .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  margin-bottom: -20px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  
}

.activeSlide{
  background-color: transparent;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#abt-us-container{
	height: auto;
	background: #fffff0;
	margin-top: 0px;
}

.abt-content,
.abt-grid-container{
	display: inline-block;
	vertical-align: top;
}

.abt-content{
	height: 200px;
	width: 100%;
	font-size: 17px;
	font-family: sans-serif;
	position: relative;
	padding-top: 60px;
}

.abt-content p{
	padding-top: 20px;
	line-height: 30px;
}

span.cpy-name{
	text-transform: uppercase;
	font-weight: bold;
}

.abt-content p.abt-title{
	font-size: 35px;
	letter-spacing: 1em;
	text-transform: uppercase;
}

.abt-grid-container{
	max-width: 970px;
	margin: 100px auto;
	width: auto;
}

.abt-grid{
	height: 200px;
	width: 200px;
	float: left;
	display: inline-block;
	overflow: hidden;
	margin-left: 95px;
	margin-right: -12.5px;
	margin-top: 13px;
	 
	border: 4px solid #000;
	background: transparent;
	text-decoration: none;
	color: #fffff0;
	 
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.abt-grid-txt{
	width: 200px;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	 
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	line-height: 40px;
}

.abt-grid-container > div:nth-child(6n+4) {
	margin-left: 240px;
}

.abt-grid-container > div:nth-child(n+4) {
	margin-top: -64px;
}

.clear::after {
	content: '';
	display: table;
	clear: both;
}

.abt-grid-container .box-1{
	background: rgb(0,78,154);
	background: linear-gradient(270deg, rgba(0,78,154,1) 16%, rgba(66,140,212,1) 68%);

}

.abt-grid-container .box-2{
	background: rgb(0,78,154);
	background: linear-gradient(320deg, rgba(0,78,154,1) 30%, rgba(66,140,212,1) 87%);

}

.abt-grid-container .box-3{
	background: rgb(0,78,154);
	background: linear-gradient(0deg, rgba(0,78,154,1) 16%, rgba(66,140,212,1) 68%);
}

.abt-grid-container .box-4{
	background: rgb(0,78,154);
	background: linear-gradient(80deg, rgba(0,78,154,1) 30%, rgba(4,27,45,1) 80%);
}

.abt-grid-container .box-5{
	background: rgb(0,78,154);
	background: linear-gradient(170deg, rgba(0,78,154,1) 36%, rgba(4,27,45,1) 84%);
}

.abt-grid-container .box-7{
	background: #000;
	color: #66d9ff;
	font-size: 18px;
}

.visibility{
	border: 4px solid #fffff0;
	border-top: 4px solid #000;
}

@media only screen and (max-width: 1000px){
	.abt-grid-container{
		max-width: 210px;
		margin: 100px auto;
		width: auto;
	}
	
	.abt-grid{
		height: 200px;
		width: 200px;
		float: left;
		display: inline-block;
		overflow: hidden;
		margin-left: ;
		margin-right: ;
		margin-top: 23px;
		 
		border: 4px solid black;
		background: transparent;
		text-decoration: none;
		color: #fff;
		 
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.abt-grid-txt{
		width: 200px;
		height: 200px;
		display: table-cell;
		vertical-align: middle;
		line-height: 40px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.abt-grid-container > div:nth-child(n) {
		margin-left: 0px;
	}
	
	.abt-grid-container > div:nth-child(n) {
		margin-top: 60px;
	}
	
	.clear::after {
		content: '';
		display: table;
		clear: both;
	}
	
	.visibility{
		border: 4px solid #000;
		background: rgb(0,78,154);
		background: linear-gradient(0deg, rgba(0,78,154,1) 36%, rgba(4,27,45,1) 84%);
	}

}

#home-ess-container{
	height: auto;
	width: 100%;
	background-color: ;
	margin-top: 0px;
}

.img-box{
	height: 400px;
	background-image: url("img/cover.png");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.img-box-color{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.ess-text {
  	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
  	font-family: sans-serif;
}

.ess-title{
	font-size: 34px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-decoration: underline;
}

.ess-text a{
	text-decoration: none;
	font-size: 26px;
	color: rgba(255, 255, 255, 0.7);
	line-height: 50px;
}

.ess-link{
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
}

.ess-text a:hover{
	color: #fff;
}


