html, body {
	width: auto!important; 
	overflow-x: hidden!important
} 

body{
	margin:0px;
	padding: 0px;
	background-color:#fff;
}

.container{
	top: 0px;
	background:black;
	width:100%;
	height: 82px;
	position: absolute;
	margin-bottom: 0px;
	box-sizing: border-box;
	overflow: visible;
	font-family: sans-serif;
}

.logo-img{
    padding-left: 20px; 
}

.topnav{
	float: right;
}


.nav-icon{
	color: #fff;
}

.topnav ul{
	display: flex;
	font-size: 30px;
	margin-right: 40px;
	margin-top: 25px;
	padding: 0px;
}

.topnav ul li{
	list-style-type: none;
	position:relative;
}

.topnav ul li ul{
	position: absolute;
	right: 0px;
	background: #333;
	display: none;

}

.topnav ul li.active ul{
	display: block;
	margin-top: 10px;
	margin-right: -5px;
}

.topnav ul li ul li{
	display: block;
	width: 220px;
	
}

.topnav ul li a{
	height: 80px;
	padding: 0px 20px;
	color: #fff;
	text-decoration: none;
	display: block;
}

.topnav ul li.sub-menu ul li a{
	height: auto;
	padding: 10px 16px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	display: block;
}

.topnav ul li a:hover,
.topnav ul li a.active,
.topnav ul li.sub-menu ul li a:hover,
.topnav ul li.sub-menu ul li a.active{
	color: #F2AA4C;
	cursor: pointer;
}

.nav-icon:hover,
.nav-icon.active{
	color: #F2AA4C;
	background: black;
}

.navsearch input[type=image]{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 25px; 
    width: 25px;
    outline: none;
    	
}

.navsearch input[type=text]{
	display: inline-block;
	border: none; 
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 18px;
	border-bottom: 1px solid #fff;
	padding-left: 4px;
	margin-right: -33px;
	padding-bottom: 3px;
}

.nav-submenu-avatar-container{
	border-radius: 50%;
	width: 90px;
	height: 90px;
	text-align: center;
	margin: 10px 55px 5px 65px;
}

.nav-submenu-avatar-container img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

p.avatar-name{
	text-align: center;
	color: #F2AA4C;
	font-size: 20px;
	padding-bottom: 14px;
}

.submenu-avatar-function{
	border-top: 0.2px solid grey;
	background: rgba(0, 0, 0, 0.2);
	width: auto;
	height: auto;
	margin-top: -22px;
}


