.fb-box{
		width: 60%;
		margin-top: 120px;
		margin-bottom: 60px;
		font-family: 'PT Sans', serif;
	}
	
	.fb-box h1{
		text-align: left;
		text-transform: uppercase;
		font-family: "Calibri Light";
		letter-spacing: 0.1em;
	}
	
	.fb-box h1.write-section{
		margin-top: 60px;
	}
	
	.fb-container{
		width: 100%;
		height: auto;
		min-height: 170px;
		background: #f7f7f4;
		font-size: 20px;
		text-align: left;
		padding: 0px 14px;
		margin-bottom: 10px;
		font-weight: 400;
	}
	
	.fb-container p.name{
		padding-top: 8px;
		font-weight: bold;
		font-size: 22px;
	}
	
	.fb-container p.name span{
		color: #00ace6;
	}
	
	.fb-container p.time{
		margin-top: -10px;
		font-size: 15px;
		font-weight: normal;
	}
	
	.fb-form{
		text-align: left;
		height: auto;
	}
	
	.fb-form textarea{
		width: 99%;
		padding: 8px;
		font-size: 18px;
		border-color: #d9d9d9;
		outline-color: #66ccff;
	}
	
	.fb-form div{
		margin-top: 14px;
	}
	
	.fb-form div input{
		cursor: pointer;
	    background: #000;
	    color: #fff;
	    border: 1px #000 solid;
	    padding: 6px;
	    font-size: 17px;
 		width: auto;
	    height: auto;
	    min-width: 170px;
	}
	
	.fb-form div input:hover{
		background-color: #e6e6e6;
	    border: 1px #3498db solid;
	    color: #000;
	}
