@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
body{
	margin:0px;
	padding: 0px;
	background-color:#f1f3f4;
}
.fa-2x {
font-size: 16px;
}

.fa {
position: relative;
display: table-cell;
width: 60px;
height: 34px;
text-align: center;
vertical-align: middle;
font-size:16px;
margin: 6px 1px auto 1px;
}


.main-menu:hover,nav.main-menu.expanded{
width:250px;
overflow:visible;
}

.main-menu {
background:#0d2534;
border-right:1px solid #e5e5e5;
padding-right: 0px;
position:fixed;
top:0px;
bottom:0;
height:150%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width.05s linear;
transition:width .05s linear;
z-index: -100;
overflow-x: hidden;

}

.main-menu>ul {
margin:7px 0;
padding-top: 74px;
}

.main-menu li, .main-menu li.has-subnav {
position:relative;
display:block;
width:250px;
padding: 5px 0px; 
}

.main-menu li>a{
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#a6a6a6;
font-family: arial;
font-size: 15px;
text-decoration:none;
-webkit-transition:all .03s linear;
transition:all .03s linear;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:34px;
text-align:center;
vertical-align:middle;
font-size:16px;
}

.main-menu .nav-text{
position:relative;
display:table-cell;
vertical-align:middle;
width:250px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu ul li.has-subnav ul{
display: none;
background-color: #0a1d25;
}

.main-menu li.has-subnav:hover ul{
display: block;
}

.main-menu li.has-subnav ul li a{
height: 34px;
padding: 0px 0px;
color: #a6a6a6;
text-decoration: none;
display: block;
width: 190px;
margin-left: 60px;
margin-top: 0px;
font-family:Arial;
font-size: 15px;
}


.main-menu>ul.logout li{
position:absolute;
left:0;
bottom:0;
margin: 6px 0px auto 0px;
}

.main-menu ul.logout i{
color:#b30000;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.active, .main-menu li:hover>a,.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#52defa;
background-color:transparent;
}

li.has-subnav ul li>a:hover, li.has-subnav ul li>a:focus{
color: #52defa;
background-color:transparent;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.container{
  background:black;
  overflow: hidden;
  width:100%;
  height:10%;
  position: absolute;
  margin-bottom: 0px;
}


.logo-img{
  padding-left: 5px; 
}

#right-panel {
  padding: 60px 0px;
  margin-left: 50px;
  transition: margin-left 0.05s linear;
  -webkit-transition:margin-left .05s linear;

}

#right-panel, .main-menu{
	position: absolute;
}
